--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #1e4356;
}

a {
  color: #1e4356;
  text-decoration: none;
}

a:hover {
  color: #45beff;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #68A4C4;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #85b6cf;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #1e4356;
}
#header.header-transparent {
  background: none;
}
#header.header-scrolled {
  background:#1e4356;
  height: 101px;
}
#header .logo h1 {
  font-size: 22px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 120%;
  margin-bottom: -170%;
  margin-top: -55%;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color:  #f7f7f7;
  text-decoration: none;
  
}
#header .logo img {
  padding: -1px;
  /*margin: 0;*/
  margin-top: -211px;
    margin-right: -52px;
    margin-bottom: -188px;
    margin-left: 10px;
  max-height: 91px;
  min-height: 20%;
 
}

#main {
  margin-top: 80px;